CLIENT_ID=
TOKEN=

TWITCH_CLIENT_ID=
TWITCH_ACCESS_TOKEN=

TWITCH_CHANNEL_NAME=

GUILD_ID=
DEV_GUILD_ID=

MONGO_URI=
APP_BASE_URL=
CHATBOT_BASE_URL=

TMDB_API_KEY=
TMDB_TOKEN=
TMDB_API_URL=https://api.themoviedb.org/3

DOG_API_KEY=
DOG_API_URL=https://www.doesthedogdie.com